.test h1{
    color: blue;
}

.bg{
    color: rgb(212, 31, 70);
}
.bdr{
    border:'2px solid blue';
}
.myStyle{
    color: "white";
    background-color: "DodgerBlue";
    padding: "10px";
    font-family: "Comic-Sans";
    color:rgb(47, 47, 104);
  }
  table { 
	/* width: 750px;  */
	border-collapse: collapse; 
	/* margin:50px auto; */
	}

    .tableMain{
        width: 50%;
    }
/* Zebra striping */
tr:nth-of-type(odd) { 
	background: #eee; 
	}

th { 
	background: #3498db; 
	color: white; 
	font-weight: bold; 
	}

td { 
    width: 30%;
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 18px;
    
	}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table { 
	  	width: 100%; 
        word-wrap: normal;
	}

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}

	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: min-content; 
        overflow-wrap: break-word ;
		padding-right: 10px; 
		white-space: nowrap;
		/* Label the data */
		content: attr(data-column);

		color: #000;
		font-weight: bold;
	}

}

.td_newClass{
    white-space: nowrap; 
    width: min-content; 
    /* overflow: hidden; */
    overflow-wrap: break-word ;
    text-overflow: ellipsis; 
    word-wrap: normal;
    border: 1px solid #000000;
}